<div class='content-new'>
  <div class='form'>
		<h2>Message was created</h2>
		<label>Message:</label>
		<%= text_message %>
		</br>
		</br>
		<%= password %>
		</br>
		</br>
		<%= safelink %>
		</br>
	<end>
<end>